.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-content {
  position: absolute;
  z-index: 10;
  top: -34px;
  left: 60px;
  transform: translateX(-50%);
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 0 2px #213547a4;
  font-size: 14px;
  font-weight: 500;
}

.tooltip-container:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}
