.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  border-bottom: 1px solid #ddd;
  background: #eee;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
} 

.homeContainer, .loginContainer {
  display: flex;
  gap: 1rem;
}

.homeContainer {
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

.homeContainer a {
  color: #213547;
}
.homeContainer a:hover {
  color: rgb(83, 121, 155);
}

.logo {
  cursor: pointer;
  height: 100%;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}